.header {
	background-color:#FFBC00;
}

.title {
	font-size:18px;
}

.news {
	margin-top:30px;
    width: 512px;
}
  
.news > .mdl-card__title {
    color: #FFF;
    height: 176px;
    background-color: #66CC33;
}

.news > .mdl-card__menu {
    color: #fff;
}