.header {
	background-color:#FFBC00;
}

.title {
	font-size:18px;
}

.nav > a{
	font-size:18px;
}

.news {
	margin-top:30px;
}

.sub-title {
	background-color:#6C3;
	color:#FFF;
	padding-left:20px;
}

.news-list {
	margin-top:0;
}

.news-list > ul {
	list-style-type:none;
}