.header {
	background-color:#FFBC00;
}

.title {
	font-size:18px;
}

.contents-head {
	background:url(images/auau_logo.png);
	background-position:right top;
	background-repeat:no-repeat;
	height:300px;
	text-shadow:3px 3px 0px #FFF,
				3px -3px 0px #FFF,
				-3px 3px 0px #FFF,
				-3px -3px 0px #FFF;
}

.nav > a{
	font-size:18px;
}

.sub-title {
	background-color:#6C3;
	box-shadow:0px 2px 3px #888 , 0px 0px 2px #CCC;
	color:#FFF;
	padding-left:20px;
}


.news-list {
	margin-top:0;
}

.news-list > ul {
	list-style-type:none;
}

.card {
	word-break:keep-all;
}


.card-list {
	border-left:solid 2px #CCC;
	list-style-type:none;
	padding-left:5px;
}
